body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.nav-links button {
    margin-left: 10px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 700;
    background: linear-gradient(to right, #f06, #b9e24a);
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.hide-scrollbar {
    height: 100vh;
    width: 100vw;
    overflow: hidden scroll;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.home-page-blogs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: 40px auto;
    background-color: #fafafa;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    gap: 8px;
}

.home-page-blogs-div h6 {
    margin-bottom: 10px;
    font-weight: 600;
}

.home-page-blogs-div .MuiTypography-body2 {
    margin-bottom: 8px;
    line-height: 1.5;
}